.gallery-item img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
     display: block;
    margin: auto;
}

.profile img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    display: block;
    margin: auto;

}
.profile {
    text-align: center;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile h2 {
    margin-top: 15px;
    color: #333;
}
